<!DOCTYPE html5>
<html>
    <head>
	<title>vote management system </title>
    <head>

    <body>
       <div id="lg1">
       <form action="{{url_for('login')}}" method="POST">
           <input type="text" placeholder="user name"  name="username"><br>
           <input type="password" placeholder="password" name="password"><br>
           <button type="submit">login</button>
       </form>

       <a href="/register">
           <button> new user </button>
       </a>
       </div>
    </body>
    
</html>
