<!DOCTYPE html5>
<html>
    <head>
	<title>vote management system </title>
	<script src="{{url_for('static',filename='js/script.js')}}"></script>
    <head>

    <body>
       <div id="lg1">
       <form action="/login" method="">
           <input type="text" placeholder="user name"><br>
           <input type="password" placeholder="password"><br>
           <button type="submit">login</button>
       </form>

       <a href="/register">
           <button> new user </button>
       </a>
       </div>
    </body>
    
</html>
