<!DOCTYPE html5>
<html>
    <head>
        <titel>registration</head>
    </head>

    <body>
        <form action="/register" method=["POST"]>
        <input type="text" placeholder="enter your first name" name="first name"><br>
        <input type="text" placeholder="enter your last name" name="last name"><br>
        <input type="text" placeholder="enter user name" name="username><br>
        <input type="email" placeholder="enter your email" name="email"><br>
        <input type="password" placeholder="enter your password" name="password"><br>
        <lable>voter</label>
        <input type="radio" name="option" value="voter"><br> 
        <lable>admin</label>
        <input type="radio" name="option" value="admin"><br>
        <lable>candidate</label>
        <input type="radio" name="option" value="candidate"><br>
        <button type="submit">register</button>
        </form>
    </body>

</html>
