<!DOCTYPE html5>
<html>
    <head>
	<title>vote management system </title>
	<script src="{{url_for('static',filename='js/script.js')}}"></script>
    <head>

    <body>
       <div id="lg1">
           <h2>welcome{{username}}</h2>
           <p> to give vote you need to give info if you are a new user</p>
           <form action="{{url_for('voter')}}" method="POST">
		<input type="number" max=10 placeholder="enter phone number" name="phone"><br>
		<input type="text" placeholder="enter address" name="address"><br>
		<input type="text" placeholder="enter city" name="city"><br>
		<input type="text" placeholder="enter state" name="state"><br>
		<input type="text" placeholder="enter country" name="country"><br>
		<button type="submit"> submit </button>
           </form>
       </div>
    </body>
    
</html>
